[Unit]
Description=NuroPadel API Gateway Service
After=network.target

[Service]
Type=simple
User=Towers
WorkingDirectory=/opt/padel/app
Environment=PATH=/opt/padel/shared/venv/bin
ExecStart=/opt/padel/shared/venv/bin/python main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target